<main class="w-full flex justify-center">
    <form [formGroup]="loginForm" (submit)="login()" class="w-4/5 my-11 sm:w-1/4 "> 
        <mat-card class="form flex flex-col gap-4 py-6">
            <mat-card-title>
                    <h1 class="text-center mt-4">Iniciar sesión</h1>
            </mat-card-title>
            <mat-card-content class="flex flex-col items-center">
                    <input type="text" formControlName="name" [(ngModel)]="name" placeholder="Nombre" class="w-full my-5 p-3 rounded-lg text-sm border-solid border-2">
                    <input type="password" formControlName="password" [(ngModel)]="password" placeholder="Contraseña" class="w-full my-5 p-3 rounded-lg text-sm border-solid border-2">
            </mat-card-content>
            <mat-card-actions class="flex justify-center">
                <button type="submit" class="shadow-md w-3/4 rounded-lg bg-[#fff8e1] py-2 mt-6 mb-3" appButtonAnimation>Entrar</button>
            </mat-card-actions>
        </mat-card>
    </form>

</main>


