<!-- <section class="relative">
    <img src="../../../assets/img/banner.jpg" alt="Promoción" class="w-full h-auto">
    <div class="absolute inset-0 flex items-center justify-center bg-black/50">
      <div class="text-center text-white">
        <h1 class="text-4xl font-bold mb-4">¡Promoción Especial!</h1>
        <p class="text-lg mb-6">Aprovecha nuestras ofertas limitadas y transforma tu estilo hoy.</p>
        <a href="#carrusel-list" class="bg-yellow-500 hover:bg-yellow-600 text-white px-6 py-3 rounded-full text-lg font-semibold">
          Explorar Más
        </a>
      </div>
    </div>
  </section> -->

  <section class="relative banner">
    <img src="../../../assets/img/banner.jpg" alt="Promoción" class="w-full h-auto banner-image">
    <div class="absolute inset-0 flex items-center justify-center bg-black/50">
      <div class="text-center text-white">
        <h1 class="text-4xl font-bold mb-4">¡Promoción Especial!</h1>
        <p class="text-lg mb-6">Aprovecha nuestras ofertas limitadas y transforma tu estilo hoy.</p>
        <a routerLink="/nails" routerLinkActive="active" aria-current="page" class="bg-yellow-500 hover:bg-yellow-600 text-white px-6 py-3 rounded-full text-lg font-semibold">
          Explorar Más
        </a>
      </div>
    </div>
  </section>
