.border {
    border: 1px solid black;
}

.title {
    font-family: "Quicksand", serif;
    font-weight: bolder;
    font-style: normal;
}

.chip {
    font-family: "Quicksand", serif;
    font-weight: 600 !important;
    font-size: 3rem;
    font-style: normal;
    span {
        font-family: "Quicksand", serif;
        font-weight: 800 !important;
        font-style: normal;
    }
}

@media(min-width: 768px) {
  .chip {

    span {
      font-size: 24px;
    }
  }
}

  #back-btn {
    /* width: 200px;
    height: 100px;
    border: 5px solid; */
    border-color: #e5e7eb #fff7ed #e5e7eb #fff7ed;
    /* border-radius: 12px; */
    transition: border-color 0.3s ease;
  }

  #back-btn:hover {
    animation: rotateBorderColors 4s linear infinite;
  }
