<main class="w-full max-w-lg p-6 bg-white shadow-lg rounded-2xl mx-auto my-0">
  <a routerLink="/admin">
    <div class="flex justify-around border-4 w-[30%] p-1 rounded-lg border-y-orange-50 shadow">
      <mat-icon class="font-bold">keyboard_backspace</mat-icon>
      <span><strong>Regresar</strong></span>
    </div>

  </a>
    <h1 class="text-2xl font-semibold text-gray-700 mb-4">Registrar producto</h1>
    <form [formGroup]="nailForm" enctype="multipart/form-data">
        <div class="mb-4">
            <label class="block text-gray-600 text-sm font-medium" for="nombre">Nombre*</label>
            <input type="text" id="nombre" formControlName="name" class="w-full p-3 mt-1 border rounded-lg focus:ring focus:ring-blue-300" placeholder="Ingrese el nombre" required>
        </div>

        <div class="mb-4">
            <label class="block text-gray-600 text-sm font-medium" for="descripcion">Descripción (Opcional)</label>
            <textarea id="descripcion" formControlName="description" class="w-full p-3 mt-1 border rounded-lg focus:ring focus:ring-blue-300" rows="3" placeholder="Ingrese la descripción"></textarea>
        </div>

        <div class="mb-4">
            <label class="block text-gray-600 text-sm font-medium" for="precio">Precio*</label>
            <input type="number" formControlName="price" id="precio" class="w-full p-3 mt-1 border rounded-lg focus:ring focus:ring-blue-300" placeholder="Ingrese el precio" required>
        </div>

        <div class="mb-4">
            <label class="block text-gray-600 text-sm font-medium" for="imagen">Foto*</label>
            <input type="file" formControlName="image" id="imagen" (change)="updateFileName($event)" class="w-full p-3 mt-1 border rounded-lg focus:ring focus:ring-blue-300" placeholder="Seleccione la imagen" required>
        </div>

        <div class="mb-4">
            <label class="block text-gray-600 text-sm font-medium" for="categoria">Categoría*</label>
            <select id="categoria" formControlName="category" class="w-full p-3 mt-1 border rounded-lg focus:ring focus:ring-blue-300">
              <option value="" disabled selected>Seleccione un tipo</option>
              @for(type of types; track type){
                <option value="{{type.id}}">{{type.name}}</option>

              }

            </select>
        </div>

        <button type="button" class="w-full p-3 bg-[#fff8e1] rounded-lg " (click)="validateForm()" appButtonAnimation>Guardar</button>
    </form>
</main>
